# roblosecurity
ROBLOSECURITY=

# ai configuration
DESCRIPTION_BASE_URL=https://api.openai.com/v1
DESCRIPTION_MODEL=gpt-5.4-mini
DESCRIPTION_CONCURRENCY=5
DESCRIPTION_API_KEY=sk-...
EMBEDDING_BASE_URL=https://api.openai.com/v1
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_API_KEY=sk-...
